<header class="block block-header-1">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">Juan del monte</div>
      <div class="swiper-slide">Slide 2</div>
      <div class="swiper-slide">Slide 3</div>
      <div class="swiper-slide">Slide 4</div>
      <div class="swiper-slide">Slide 5</div>
      <div class="swiper-slide">Slide 6</div>
      <div class="swiper-slide">Slide 7</div>
      <div class="swiper-slide">Slide 8</div>
      <div class="swiper-slide">Slide 9</div>
      <div class="swiper-slide">Slide 10</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  
  <!-- <div class="block-header-1--logo">
    <a href="{{ "/" | relative_url }}">
      <img src="{{ section.logo | relative_url }}" alt="{{ site.title }}">
    </a>
  </div>

  <nav class="block-header-1--nav">
    
    <p>Dolar Oficial: $86.43  $92.43 +0.03%   | Dolar Turista: $152.51 +0.03  | Dolar Informal: $151.00 156.00 + 0.00%  | Dolar Mayorista: $86.91 $87.11 +0.10% </p>
    <ul>
      {% for nav_item in section.navigation %}
      <li class="nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link | relative_url }}">{{ nav_item.link_text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 10,
      // init: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 40,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 50,
        },
      }
    });
  </script>
  
</header>
