{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section id="{{ section.slug | slugify }}" class="block block-feature-1">
  <div class="container">
    <div class="columns">
      <div class="column text">
        <!-- <h2><span class="light">{{ section.headline }}</span></h2> -->
        <p>{{ section.content }}</p>
        <div class="flourish-embed flourish-table" data-src="visualisation/5145238"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
        <div class="flourish-embed flourish-table" data-src="visualisation/5145360"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSUUvUFgqJ1brKN6FchZSTzxAWhpLGCJdAoncsUtkoqUFGVZxTAE73A3XqIPpf-BRv8Sf376sI0pQgn/pubhtml?widget=true&amp;headers=false"></iframe> 
      </div>
     <!-- <div class="column media"> -->
        
        <div class="column text">
          <p>{{ section.content }}</p>
          <div class="flourish-embed flourish-table" data-src="visualisation/5145419"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
          <div class="flourish-embed flourish-table" data-src="visualisation/5145715"><script src="https://public.flourish.studio/resources/embed.js"></script></div>

       <!-- <img src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}" loading="lazy"> -->
      </div>
    </div>
  </div>
</section>
{% endif %}
